.locate-me-icon {
  width: 32px;
  height: 32px;
  margin-right: 17px;
}

.locate-me-button {
  background: 0 0;
  border: none;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1.2px;
  color: #456e98;
}
