<div class="mb-50">
  <h2 class="mb-20">Air pollution solutions</h2>
  <div class="solution-area mt-50">
    <app-solution-item
      *ngFor="let product of products"
      [product]="product"
    ></app-solution-item>
  </div>
  <div class="air-visual-enterprise mt-50">
    <img class="banner" src="../../../assets/img/home-push-monitor-5.webp" />
    <div class="air-visual-enterprise-information">
      <img
        class="air-visual-enterprise-logo"
        src="../../../assets/img/ic-logo-airvisual-enterprise-white.svg"
      />
      <h2 class="mb-20">Air quality solution for organizations</h2>
      <p class="mb-50">
        For healthy buildings and happy occupants
      </p>
      <button class="view-more-button">View More</button>
    </div>
  </div>
</div>
