.solution-area {
  display: flex;
  justify-content: space-between;
  margin-right: -0.5em;
}

app-solution-item {
  flex: 1 1 33%;
  margin-right: 0.5em;
}

.air-visual-enterprise {
  overflow: hidden;
  position: relative;
}

.air-visual-enterprise-information {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  min-height: 310px;
  max-width: 460px;
  position: absolute;
  margin-left: auto;
  padding: 42px 53px 50px;
  background-color: #2b353f;
  color: white;
}

.air-visual-enterprise-information .air-visual-enterprise-logo {
  width: auto;
  height: 40px;
  margin-bottom: 15px;
}

.view-more-button {
  font-family: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
  padding: 14px 16px;
  color: #fff;
  border-radius: 4px;
  border: 1px solid #fff;
  background-color: transparent;
}

@media screen and (max-width: 600px) {
  .solution-area {
    flex-flow: row wrap;
  }
  app-solution-item {
    flex: unset;
    width: 100%;
  }
}
