.world-aq-news {
  display: flex;
  justify-content: space-between;
}

.title:after {
  content: "";
  margin-top: 24px;
  display: block;
  width: 60px;
  height: 6px;
  background-color: #456e98;
}

.news-container {
  display: flex;
  justify-content: space-between;
}

app-world-aq-news-item {
  margin-bottom: 10px;
  flex: 1 1 33%;
  /* margin: 0 10px; */
}

@media screen and (max-width: 1045px) {
  .title {
    margin-bottom: 20px;
  }
  .world-aq-news {
    flex-flow: column wrap;
  }
  .news-container {
    position: relative;
    overflow-y: scroll;
    width: 100%;
  }
}
