<div class="world-aq-news mb-50">
  <span class="title">World Air Quality News</span>
  <div class="news-container">
    <app-world-aq-news-item
      *ngFor="let aqNew of aqNews"
      [aqNew]="aqNew"
    ></app-world-aq-news-item>
  </div>
</div>
