.background {
  background-color: #f6fafb;
  height: 50px;
}

.breadcrumb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}

.breadcrumb-buttons {
  display: flex;
  align-items: center;
}

.locate-me-container {
  place-content: center;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  flex: 1 1 204px;
  max-width: 204px;
  min-width: 204px;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  height: 50px;
}

.social-media-icon {
  margin-left: 20px;
  width: 18px;
  height: 18px;
}

@media screen and (max-width: 600px) {
  .breadcrumb-buttons {
    display: none;
  }
}