<div class="container-fluid background">
  <div class="container breadcrumb">
    <div>
      <span class="submenu">{{ location.country }}</span> &nbsp; > &nbsp;<span class="menu"
        >{{ location.city }}</span
      >
    </div>

    <div class="breadcrumb-buttons">
      <div class="locate-me-container">
        <app-locate-me></app-locate-me>
      </div>

      <img
        class="social-media-icon"
        src="../../../assets/img/facebook-page.svg"
      />
      <img
        class="social-media-icon"
        src="../../../assets/img/twitter-page.svg"
      />
      <img
        class="social-media-icon"
        src="../../../assets/img/linkedin-page.svg"
      />
    </div>
  </div>
</div>
