<div class="explore">
  <img
    class="explore-icon mr-20"
    src="../../../assets/img/ic-nearest-button-72-px.svg"
  />
  <div class="explore-form">
    <input
      type="text"
      placeholder="Your country, city or location…"
      aria-label="Your country, city or location…"
      class="explore-input"
    />
    <img class="search-icon" src="../../../assets/img/ic-search.svg">
    <img class="close-icon" src="../../../assets/img/ic-clear-grey-2.svg">
  </div>
</div>
