.explore {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.explore-icon {
  width: 60px;
  height: 60px;
  font-size: 60px;
}

.explore-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  background-color: white;
  border-radius: 7px;
  border: thin groove #456e98;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.3);
}

.explore-input {
  flex: 1;
  border-radius: inherit;
  height: 60px;
  font-size: 16px;
  padding: 0 24px;
  border: none;
}

.explore-input:focus {
  outline: none;
}

.search-icon {
  border-left: 1px solid #456e98;
  padding: 0 24px;
}

.close-icon {
  border-left: 1px solid #456e98;
  padding: 0 24px;
  display: none;
}
