<div class="mt-20 mb-50">
  <h2 class="mb-10">Most popular cities</h2>
  <p class="mb-20">Cities with most followers on AirVisual</p>
  <div class="city-list">
    <app-city-tag
      *ngFor="let cityAQI of cityAQIs"
      [cityAQI]="cityAQI"
    ></app-city-tag>
  </div>
</div>
