.continents {
  column-count: 6;
  column-width: 130px;
  column-gap: 24px;
  column-fill: auto;
  height: 460px;
}

.country-list {
  font-size: 14px;
  line-height: 20px;
}

.download-app-background {
  flex-flow: row wrap;
  display: flex;
  place-content: center space-between;
  align-items: center;
  background-color: #456e98;
  padding: 30px 60px;
  color: white;
}

.store-buttons img {
  padding: 0 5px;
}

@media screen and (max-width: 948px) {
  .continents {
    column-count: unset;
    column-width: unset;
    column-gap: unset;
    column-fill: unset;
    height: unset;
  }
  .country-list {
    column-count: 3;
  }
  .country-list span {
    margin-right: 10px;
  }
}
