<div class="mb-50">
  <div class="mb-50">
    <h2 class="mb-50">Air quality around the world</h2>
    <div class="continents">
      <!-- Africa -->
      <h4 class="mb-20">Africa</h4>
      <div class="country-list mb-30">
        <p *ngFor="let africa of africas">{{ africa.country }}</p>
      </div>

      <!-- Asian -->
      <h4 class="mb-20">Asian</h4>
      <div class="country-list mb-30">
        <p *ngFor="let asia of asias">{{ asia.country }}</p>
      </div>

      <!-- Europe -->
      <h4 class="mb-20">Europe</h4>
      <div class="country-list mb-30">
        <p *ngFor="let europe of europes">{{ europe.country }}</p>
      </div>

      <!-- North America -->
      <h4 class="mb-20">North America</h4>
      <div class="country-list mb-30">
        <p *ngFor="let northamerica of northamericas">
          {{ northamerica.country }}
        </p>
      </div>

      <!-- Oceania -->
      <h4 class="mb-20">Oceania</h4>
      <div class="country-list mb-30">
        <p *ngFor="let oceania of oceanias">{{ oceania.country }}</p>
      </div>

      <!-- South America -->
      <h4 class="mb-20">South America</h4>
      <div class="country-list mb-30">
        <p *ngFor="let southamerica of southamericas">
          {{ southamerica.country }}
        </p>
      </div>
    </div>
  </div>
  <div class="download-app-background">
    <h3>Track your air quality anywhere you are</h3>
    <p>Download the app</p>
    <div class="store-buttons">
      <img src="../../../assets/img/app-store-button.webp" />
      <img src="../../../assets/img/google-play-button.webp" />
      <img src="../../../assets/img/android-button.webp" />
    </div>
  </div>
</div>
