<header class="container header">
  <!-- img -->
  <img class="logo" src="../../../assets/img/ic-logo-airvisual.svg" />

  <!-- menu list -->
  <ul class="menu-list">
    <a href="#"
      ><li *ngFor="let item of menuListItems" class="list-item">
        {{ item.name }}
      </li></a
    >
  </ul>

  <!-- right side menu -->
  <div class="right-side-menu">
    <a class="mr-20" href="#">Login</a>
    <button class="primary-button mr-20">Track Your Air</button>
    <mat-icon aria-hidden="false">settings</mat-icon>
  </div>
</header>
