.header {
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

/* sm below */
@media screen and (max-width: 991px) {
  .menu-list {
    display: none;
  }
}

/* md above */
@media screen and (min-width: 992px) {
}

.menu-list {
  flex: 0 0 60%;
}

.list-item {
  display: inline;
  padding: 0 10px;
  text-transform: capitalize;
}

.list-item:hover {
  color: #4e8abe;
  font-weight: 700;
}

.right-side-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
