<div class="footer">
  <div class="footer-navigation mb-30">
    <div class="language-container"></div>
    <div class="navigation" *ngFor="let menu of menus">
      <p class="menu mb-20">{{ menu.menu.toUpperCase() }}</p>
      <p class="submenu" *ngFor="let submenu of menu.submenus">
        {{ submenu.name }}
      </p>
    </div>
  </div>
  <div class="divider mb-30"></div>
  <div class="footer-enterprise mb-30">
    <p class="menu">ENTERPRISE</p>
    <p class="submenu">Solutions</p>
    <p class="submenu">Developers</p>
    <p></p>
  </div>
  <div class="divider mb-30"></div>
  <div class="footer-bottom mb-20">
    <img src="../../../assets/img/ic-logo-airvisual.svg" />
    <span class="submenu">© 2020 IQAir. All Rights reserved</span>
  </div>
</div>
