.footer {
  color: #456ea0;
}

.footer-navigation {
  display: flex;
  flex-flow: row wrap;
}

.language-container {
  flex: 1 1 25%;
  display: flex;
  flex-direction: column;
}

.navigation {
  flex: 1 1 25%;
}

.footer-enterprise {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.footer-enterprise > p {
  flex: 1 1 25%;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
