.card {
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  background-color: white;
  width: 368px;
}

.card-header {
  border-radius: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  height: 46px;
  background: #fff;
  padding: 0 20px 0 25px;
  color: #414141;
}

.city {
  flex: 1;
}

.weather-icon {
  margin-right: 10px;
  width: 40px;
  height: 40px;
}

.card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  position: relative;
  overflow: hidden;
}

.img-background {
  padding: 8px 10px;
  height: 100%;
}

.face {
  width: 68px;
  height: 68px;
}

.info {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.aqi {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2vw;
}

.aqi-number {
  font-size: 2.5rem;
}

.condition {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-weight: 700;
}

app-aqi-measurement-tag {
  font-size: 0.8rem;
}
