<div class="card">
  <div class="card-header">
    <p class="city">{{ cityAQI.city }}</p>
    <img
      class="weather-icon"
      [src]="setWeatherImage()"
    />
    <p class="grad">{{ cityAQI.temperature }}º</p>
  </div>
  <div class="card-body" [ngClass]="setCardBodyClasses()">
    <div class="img-background">
      <img class="face" [src]="setFaceImage()" />
    </div>
    <div class="info" [ngClass]="setCardInfoClasses()">
      <div class="aqi">
        <p class="aqi-number">{{ cityAQI.aqi }}</p>
        <p class="aqi-measurement">US AQI</p>
      </div>
      <div class="condition">
        <p class="mb-5">{{ cityAQI.getConditon(cityAQI.aqi) }}</p>
        <app-aqi-measurement-tag [pm2p5]="cityAQI.pm2p5"></app-aqi-measurement-tag>
      </div>
    </div>
  </div>
</div>
