.world-ranking-area {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  margin-bottom: 50px;
}

.air-visual-earth {
  flex: 1 1 50%;
  position: relative;
  margin-left: 10px;
  overflow: hidden;
}

.air-visual-earth .earth {
  width: 100%;
}

.air-visual-earth-information {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 40px;
  background: #fff;
  border: 1px solid #e6e6e6;
  max-width: 460px;
  min-width: 460px;
}

.explore-button {
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1.2px;
  padding: 14px 16px;
  color: #49739a;
  border-radius: 4px;
  border: 1px solid #49739a;
  background-color: transparent;
}

@media screen and (max-width: 792px) {
  app-world-ranking {
    width: 100%;
    margin-bottom: 20px;
  }
}
