<div class="world-ranking-area">
  <app-world-ranking></app-world-ranking>
  <div class="air-visual-earth">
    <img class="earth" src="../../../assets/img/home-iq-air-earth.webp" />
    <div class="air-visual-earth-information">
      <img src="../../../assets/img/ic-logo-airvisual-earth-grey-small.svg" />
      <h3 class="mt-20 mb-20">Real-time air quality map</h3>
      <p class="mb-20">
        Browse the world air quality with our real-time AirVisual Earth view
      </p>
      <button class="explore-button">Explore</button>
    </div>
  </div>
</div>
