<app-explore-area></app-explore-area>
<div class="container">
  <app-world-ranking-area></app-world-ranking-area>
  <app-solutions-area></app-solutions-area>
  <app-world-aq-news-area></app-world-aq-news-area>
  <app-most-popular-city-area></app-most-popular-city-area>
  <div class="divider mb-50"></div>
  <app-country-list-area></app-country-list-area>
</div>
