<div>
  <app-breadcrumb [location]="location"></app-breadcrumb>
  <div class="container">
    <app-page-title [location]="location"></app-page-title>
    <app-map-aqi [location]="location"></app-map-aqi>
  </div>
</div>
