.world-aq-news-area {
  display: flex;
  flex-direction: column;
}

.world-aq-news-area a {
  text-align: end;
  color: #49739a;
  padding-bottom: 10px;
}

/* this is for when loop it adds padding at the last item too */
app-world-aq-news {
  margin-right: -12px;
}
