.card-list {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

app-city-card-item {
  flex: 0 1 33%;
}



@media screen and (max-width: 992px) {
  app-city-card-item {
    flex: unset;
    margin: 0.5rem auto;
  }
  .card-list {
    justify-content: center;
  }
}
