.title-wrapper {
  display: flex;
  justify-content: space-between;
  max-height: 100%;
  padding: 20px 0 12px;
}

.page-title {
  flex: 1 1 0%;
  padding-right: 30px;
}

.page-title h1 {
  font-size: 30px;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
}

.timestamp {
  font-size: 12px;
  color: #5b7186;
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.followers {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.follower-count {
  font-size: 14px;
  margin-right: 12px;
}

.follower-avatar-item {
  width: 28px;
  height: 28px;
  border: 2px solid #fff;
  border-radius: 100%;
  overflow: hidden;
  float: left;
  margin-left: -8px;
  background: #fff;
}

.follower-avatar {
  background-position: center;
  background-size: 100%;
  width: 100%;
  height: 100%;
  display: block;
  background-image: url("https://cdn.airvisual.net/tiny/default.png");
}

@media screen and (min-width: 960px) {
  .page-title {
    min-width: calc(960px - 416px);
  }
}

@media screen and (max-width: 959px) {
  .title-wrapper {
    flex-direction: column;
  }
  .action-wrapper {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .followers {
    /* flex: 1 1 50%; */
    justify-content: flex-start;
    flex-direction: row-reverse;
  }
}
