<div class="title-wrapper">
  <div class="page-title">
    <h1>
      <strong>{{ location.city }}</strong> air quality index (AQI) and PM2.5 air pollution
      is 99, Moderate
    </h1>
    <p class="timestamp">10:00, Feb 2 (local time)</p>
  </div>
  <div class="action-wrapper">
    <div class="followers mb-10">
      <span class="follower-count"
        ><strong>4.18M</strong> people follow this city</span
      >
      <ul>
        <li class="follower-avatar-item" *ngFor="let i of [0, 1, 2, 3, 5]">
          <span class="follower-avatar"></span>
        </li>
      </ul>
    </div>
    <div class="action-buttons">
      <app-follow-button></app-follow-button>
      &nbsp;
      <app-share-button></app-share-button>
    </div>
  </div>
</div>
