.city-tag {
  display: inline-block;
  text-decoration: none;
  padding: 8px 12px 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  color: #456e98;
  font-size: 14px;
  font-weight: 500;
  margin: 5px;
}

.dot {
  height: 10px;
  width: 10px;
  margin-right: 14px;
  border-radius: 50%;
  display: inline-block;
}
