.map-aqi-container {
  display: flex;
}

.aqi-information-container {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.condition-container {
  display: flex;
  align-items: center;
}

.condition-container img {
  width: 84px;
  height: 84px;
}

.aqi-number {
  font-size: 6rem;
}

.aqi-unit {
  font-size: 1rem;
}

app-aqi-measurement-tag {
  font-size: 1rem !important;
}

.become-contributor {
  display: flex;
  align-items: center;
  height: 40px;
  background-color: #2b353f;
  padding: 50px 12px;
}

.become-contributor span {
  font-size: 0.7rem;
  font-weight: 500;
  color: #75879d;
  cursor: pointer;
}

.map-city {
  width: 100%;
  margin-right: 20px;
}

.weather-container {
  height: inherit;
  padding: 15px 15px 0 15px;
  border: 1px solid #e6e6e6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.weather-temperature {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-temperature img {
  width: 80px;
  height: 80px;
  margin-right: 15px;
}

.weather-temperature span {
  font-size: 2rem;
}

.more-weather-information-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  /* flex: 1; */
}

.more-weather-information {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 15px;
}

.more-weather-information img {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

@media screen and (max-width: 968px) {
  .map-aqi-container {
    flex-direction: column;
  }
  .map-city {
    margin: 10px 0;
    height: 300px;
  }
  .more-weather-information-container {
    padding: 10px;
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
  }
}