<div class="map-aqi-container">
  <div class="left-container">
    <!-- start AQI information -->
    <div class="aqi-information-container bg-orange info-orange">
      <div class="condition-container">
        <img src="../../../assets/img/ic-face-orange.svg" />
        <h3>Unhealthy for Sensitive Groups</h3>
      </div>
      <span class="aqi-number"> 119<span class="aqi-unit">US AQI</span> </span>
      <app-aqi-measurement-tag [pm2p5]="43"></app-aqi-measurement-tag>
    </div>
    <!-- end AQI Information -->
    <div class="become-contributor">
      <img src="../../../assets/img/ic-arrow-small-link-7d90a8.svg" />
      <span>BECOME CONTRIBUTOR</span>
    </div>
  </div>

  <div class="map-city">
    <app-map-city [location]="location"></app-map-city>
  </div>

  <div class="weather-container">
    <div class="weather-temperature">
      <img src="../../../assets/img/scattered-clouds.svg" />
      <span>2º</span>
    </div>
    <p class="mb-10">Borken clouds</p>

    <div class="divider"></div>

    <div class="more-weather-information-container">
      <div class="more-weather-information">
        <img src="../../../assets/img/ic-humidity-72-px_2.svg" />
        <span
          ><p>Humidity</p>
          <p>29%</p></span
        >
      </div>
      <div class="more-weather-information">
        <img src="../../../assets/img/ic-wind-05-s-72-px_2.svg" />
        <span
          ><p>Wind</p>
          <p>21.6 km/h</p></span
        >
      </div>
      <div class="more-weather-information">
        <img src="../../../assets/img/ic-pressure-72-px_2.svg" />
        <span
          ><p>Pressure</p>
          <p>1028 mb</p></span
        >
      </div>
    </div>
  </div>
</div>
