.world-ranking-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.country-info {
  display: flex;
  align-items: center;
}

.index {
  min-width: 17px;
}

.flag-icon {
  min-width: 34px;
  max-width: 34px;
  max-height: 23px;
}

.city-name {
  color: #5b7186;
}

.aqi-background {
  width: 56px;
  text-align: center;
  color: white;
  border-radius: 4px;
}
