<div class="world-ranking-item">
  <div class="country-info">
    <span class="index mr-20"><strong>{{ index }}</strong></span>
    <img class="flag-icon mr-20" [src]="setFlagIcon()" />
    <h4 class="city-name">{{ cityAQI.city }}, {{ cityAQI.country }}</h4>
  </div>
  <div class="aqi-background" [ngClass]="setAQIBackgroundClass()">
    {{ cityAQI.aqi }}
  </div>
</div>
