<div class="container-fluid">
  <app-navigation-bar></app-navigation-bar>
  
  <router-outlet></router-outlet>
  
  <div class="divider mb-50"></div>
  <div class="container">
    <app-footer></app-footer>
  </div>
</div>
