.solution-item {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.information {
  color: white;
}

.banner {
  width: 100%;
  height: 100%;
  transition: transform 0.8s ease-out;
}

.banner:hover {
  transform: scale(1.05);
}
