<div class="solution-item mb-20">
  <!-- <div class="information">
    <p>AirVisual App</p>
    <h2>Free iOS and Android air quality app</h2>
  </div> -->
  <img class="banner" [src]="setProductBanner()" />
</div>
