.share-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.share-button {
  border: 1px solid #d2d2d2;
  background-color: #fff;
  color: #456e98;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.43;
  cursor: pointer;
  padding: 4px 6px 4px 12px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
