<div class="world-ranking">
  <h2>World AQI Ranking</h2>
  <p class="mb-20">10:40, Feb 1</p>
  <div class="table-header">
    <h4>MAJOR CITY</h4>
    <h3>US AQI</h3>
  </div>
  <app-world-ranking-item
    *ngFor="let cityAQI of cityAQIs; let i = index"
    [index]="i + 1"
    [cityAQI]="cityAQI"
  ></app-world-ranking-item>

  <button class="button mr-20 mt-20">See Full Ranking</button>
</div>
