.world-ranking {
  display: flex;
  flex-direction: column;
  padding: 25px 20px;
  border: 1px solid #e6e6e6;
  height: 100%;
}

.table-header {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.button {
  color: #fff;
  border-radius: 4px;
  background-color: #4db1cf;
  font-size: 12px;
  letter-spacing: 1.2px;
  padding: 14px 16px;
  text-transform: uppercase;
  background-color: #49739a;
  width: 100%;
}
