<div class="grey-background">
  <div class="container">
    <div class="explore-area pt-30">
      <!-- explore the air quality -->
      <div class="explore-the-air-quality">
        <p class="title">Explore the air quality</p>
        <p class="subtitle">anywhere in the world</p>
      </div>

      <!-- search app -->
      <app-explore class="explore-app"> </app-explore>
    </div>

    <!-- city cards -->
    <app-city-cards></app-city-cards>
  </div>
</div>
