.grey-background {
  background-color: #f5f6f6;
  margin-bottom: 50px;
}

.explore-area {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
}

.explore-area .explore-the-air-quality {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.explore-area .explore-app {
  flex: 1;
}

@media screen and (max-width: 992px) {
  .explore-the-air-quality {
    margin-bottom: 20px;
  }
}
