/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none !important;
}

a:visited,
a:link {
  text-decoration: none;
  color: #525252;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #525252;
  font-size: 16px;
}

.divider {
  width: 100%;
  height: 1px;
  background: #e6e6e6;
}

.mr-20 {
  margin-right: 20px;
}

.pt-30 {
  padding-top: 40px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-50 {
  margin-bottom: 50px;
}

.primary-button {
  color: #fff;
  border-radius: 4px;
  background-color: #4db1cf;
  font-size: 12px;
  letter-spacing: 1.2px;
  padding: 14px 16px;
  text-transform: uppercase;
}

.container-fluid {
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 2.5vw;
}

.title {
  font-size: 2.7rem;
  font-weight: 700;
}

.subtitle {
  font-size: 2.5rem;
  font-weight: 300;
}

.menu {
  font-size: 0.85em;
  font-weight: 700;
}

.submenu {
  font-size: 0.85em;
  font-weight: 400;
  line-height: 25px;
}

.bg-green {
  background-color: #a8e05f;
}

.bg-yellow {
  background-color: #fdd74b;
}

.bg-orange {
  background-color: #fe9b57;
}

.bg-red {
  background-color: #fe6a6a;
}

.bg-purple {
  background-color: #a97abc;
}

.info-green {
  background-color: #b0e767;
  color: #728c3b;
}

.info-yellow {
  background-color: #ffdf59;
  color: #a57f23;
}

.info-orange {
  background-color: #ffa968;
  color: #b25826;
}

.info-red {
  background-color: #ff7978;
  color: #af2c3b;
}
